.hero {
    background-image: url("./images/hero.jpg");
    background-size: cover;
    background-position: bottom;
    height: 245px;
}

.navbar {
    width: 100%;
}

.name {
    font-size: 5rem;
    margin-left: 50px;
}

.links {
    display: flex;
    width: 100%;
}

.link {
    font-size: 2rem;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 20px 0px;
}

.bio {
    background-color: rgb(127, 144, 192);
    padding: 30px;
    background-image: linear-gradient(white, #181d23);
}

.avatar {
    display: flex;
    justify-content: center;
}

.about img {
    height: 250px;
    background-color: #181d23;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: -12px;
    z-index: 2;
}

.projectContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: linear-gradient(white, #181d23);
}

.project {
    margin: 20px 30px;
    width: 40%;
    border: 2px solid black;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projectImage {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: top;
}

.projectIcons {
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: -20px;
}

.contact {
    background-color: white;
}
.form {
    background-color: brown;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 75px;
    background-image: linear-gradient(white, #181d23);
}

.formShort {
    padding-right: 400px;
}

.resume {
    background-color: white;
}

.skills {
    text-align: center;
    background-image: linear-gradient(white, #181d23);
}

.download {
    display: inline-block;
    width: min-content;
    padding: 10px;
    border: 2px dashed black;
    border-radius: 20%;
    margin-bottom: 20px;
}

.download a {
    font-size: 16px;
    margin-top: 50px;
    white-space: nowrap;
}

.lists {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.lists ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #181d23;
}

.footer a {
    margin: 40px 40px;
}

.footer a img {
    height: 75px;
    width: 75px;
}

@media screen and (max-device-width: 576px) {
    .projectContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .name {
        font-size: 1rem;
    }
}
