.header {
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: rgb(121, 255, 210);
}

.navbar {
    /* display: flex; */
    /* justify-content: flex-start; */
    width: 100%;
    /* background-color: rgb(250, 221, 184); */
}

.navLink {
    /* margin-left: 1px; */
}

/* margin bottom -16???? why does this work lol*/
 .aboutContainer {
    background-color:rgb(255, 217, 236) ;
    /* margin-bottom: -16px; */
}

.aboutContainer img {
    height: 150px;
    background-color: rgb(88, 216, 255);
    border: 2px solid black;
    border-radius: 50%;
}

.projectContainer {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
    background-color: rgb(156, 156, 156);
}


.project {
    background-color: rgb(250, 205, 189);
    margin: 20px 30px;
    width: 30%;
}

.projectImage {
    height: 150px;
    width: 100%;
    background-size: cover;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(202, 225, 255);
}

.footer a {
    margin: 20px 30px;
}

.footer a img {
    height: 50px;
    width: 50px;
}