.header {
}

.hero {
    background-image: url("./images/hero.jpg");
    background-size: cover;
    height: 300px;
}

.navbar {
    width: 100%;
}

.name {
    font-size: 50px;
}

h2 {
    text-align: center;
}

.about {
}

.bio {
    background-color: rgb(255, 217, 236);
    padding: 100px;
}

.about img {
    height: 150px;
    background-color: rgb(88, 216, 255);
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 20px;
}

.projectContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(156, 156, 156);
}

.project {
    background-color: rgb(250, 205, 189);
    margin: 20px 30px;
    width: 30%;
    border: 2px solid black;
}

.projectImage {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.projectIcons {
    display: flex;
    justify-content: space-between;
}

.githubIcon{
    height: 50px;
    width: 50px;
}

.deployIcon{}

.form {
    margin-left: 100px;
    margin-bottom: 50px;
    width: 250px;
}

.resume ul li {
    list-style-type: none;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(202, 225, 255);
}

.footer a {
    margin: 20px 30px;
}

.footer a img {
    height: 50px;
    width: 50px;
}

@media screen and (max-device-width: 600px) {
    .projectContainer {
        flex-direction: column;
        align-items: center;
    }
}